*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
    background-color: lightskyblue;
}

.container{
    margin : 250px ;
    font-size: 30px;
    text-align: center;
    
}

.container>input{
    background-color: rgba(103, 222, 243, 0.993);
    border-color: firebrick;
}
.container>button{
    background-color: lawngreen;
}

